/* ======================
   RESET BÁSICO
   ====================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    color: #8f8f8f;
    line-height: 1.6;
}

/* ======================
   HEADER
   ====================== */

header{
    display: flex;
    gap: 20px;
    margin: 1.2rem;
    background-color: #f6e6ff;
    box-shadow: 1px 5px 5px #b483c5;
    padding: 10px;
}

header img{
   height: 100px;
   max-width: 200px;
}

header h1{
    color: #b483c5;
    font-size: 20px;
}

.header{
    display: block;
    margin-left: 20px;
}

header p{
    color: #2180DA;
}


/* ======================
   SECCIONES PRINCIPALES
   ====================== */

main h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-mi p {
    text-align: center;
    font-size: 22px;
    margin: 40px 20px;
}


/* ======================
   EDUCACION
   ====================== */

.educacion ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.educacion ul li{
    background-color: #f6e6ff;
    list-style: none;
    border-radius: 15px;
    cursor: pointer;            
    max-width: 400px;
    box-shadow: 1px 5px 5px #b483c5;
    transition: all 0.5s ease;
}

.educacion ul li:hover{
    background-color: #b6d3fc;
    transform: translateY(5px);
    box-shadow: 1px 5px 5px #9ac0f4;
}

.educacion ul li:hover .educacion-titulo{
    color: #2180DA;

}

.educacion ul li:hover .educacion-texto{
    color: #515151;

}

.educacion ul li p{
    margin: 10px;
}

.educacion p{
    text-align: center;
}

.educacion-titulo{
    font-size: 20px;
    color: #b483c5;
}

/* ======================
   HABILIDADES
   ====================== */


.habilidades{
    display: flex;
    background-color: #f6e6ff;
    margin: 50px 20px;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 5px 5px #b483c5;
    height: 100%;
}

.habilidades-titulo{
    color: #2180DA;
    align-content: center;
    text-align: center;
    background-color: #b6d3fc;
    border-radius: 15px;
    padding: 100px;
    cursor: pointer;
    position: relative;
    z-index: 2;  
    box-shadow: 1px 5px 5px #b483c5;
}

.habilidades-titulo:hover + .habilidades-move{
    transform: translateX(4in);
     color: #b483c5;
     opacity: 1;
}

.habilidades ul{
    transition: all 1s ease;
    align-content: center;
    opacity: 0;
}

.habilidades ul li{
    list-style: none;
    background-color: #b6d3fc;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    font-size: 26px;
    transform: translateX(-4in);
}

/* ======================
   FORMULARIO 
   ====================== */

form{
    justify-content: center;
    background-color: #b6d3fc;
    border-radius: 15px;
    box-shadow: 1px 5px 5px #9ac0f4;
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 10px;
}

input,textarea{
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 1px 5px 5px #b483c5;
    font-size: 1rem;
}

.content p{
    margin: 20px;
    color: #515151;
}

button{
   border: none;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #f6e6ff;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover{
    background-color: #e6cef3;
      transform: translateY(-5px);
     
}

/* CORREO Y TELÉFONO ---------------------------- */

.disp{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 40px;
    margin: 20px 0;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.datos p{
     font-size: 25px;
     
}

.datos i{
    cursor: pointer;
    font-size: 50px;
    margin: 20px;
    color: #9ac0f4;
    transition: all 0.5s ease;
}

.datos i:hover{
    color: #a0d1ff;
}

/* FOOTER ---------------------- */

footer{
    margin-top: 200px;
    background-color: #e6cef3;
    color: #515151;
    padding: 0;
    width: 100%;
    height: 2in;
    align-content: center;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #515151;
  
}
